.badge {
    margin-right: 1em;
    padding-right: 2px;
}

.btn-success {
    margin-right: 15.3em;
    margin-left: 6px;
    overflow: hidden;
}

.next-MS {
    margin-right: 15.3em;
    margin-left: 6px;
    overflow: hidden;
}

.form-check {
    margin-right: 10em;
}

.inputFieldClass {
    width: 430px;
    border: none;
    margin-left: 0.5em;
    margin-right: 2em;
    margin-bottom: 5px;
    border-bottom: 2px solid black;
}

#loadStorage {
    visibility: hidden;
}

#myInput {
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}


#myTable {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    /* border: 1px solid #ddd; /\* Add a grey border *\/ */
    border-collapse:collapse;
    font-size: 18px; /* Increase font-size */
    padding-top: 2%;
}

#myTable th, #myTable td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
}

#myTable tr {
    /* Add a bottom border to all table rows */
    border-bottom: 1px solid #ddd; 
}

#myTable tr.header, #myTable tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #f1f1f1;
}

#myInput {
    display: inline-block;
    margin-right: 2%;
}

.rescheduleClass {
    margin-right: 27em;
    margin-left: 6px;
}

.removeClass {
}

#searchBar {
    overflow: hidden;
}

#taskList {
    padding-top: 2%;
}

.title {
    font-family: 'Montserrat', sans-serif;
}

#totalScore {
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}
